ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;
    li {
        width: 25%;
        height: 220px;
        box-shadow: var(--boxShadowMainColor);
        padding: 30px;
        min-height: 200px;
        text-align: center;
        list-style: none;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        margin-bottom: 30px;
        &:not(:nth-child(3n)) {
            margin-right: 30px;
        }
        &:last-child {
            margin-right: 0;
        }
        
        h2 {
            color: #000;
            margin-bottom: 20px;
            font-size: 24px;
        }
        .description {
            margin-bottom: 20px;
            color: #000;
            min-height: 40px;
        }
        .type {
            text-align: right;
            background-color: var(--secondaryColor);
            color: #fff;
            padding: 5px 10px;
            position: absolute;
            right: 0;
            top: 0;
            font-weight: 700;
        }
    }
}