.courses{
    min-height: 600px;
    text-align: center;
    padding: 30px 200px;
}

h2 {
    margin-bottom: 20px;
    color: var(--darkSecondaryColor);
}

p {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.5;
    color: #1a1a1a;
}
.courses_list{
    list-style: none;
    display: flex;
    margin-top: 80px;
    flex-direction: row;
    justify-content: space-around;
}
.course_item {
    padding: 20px;
}
.about {
    min-height: 300px;
    display: flex;
    background-color: var(--mainColor);;
}
.about_img{
    width: 50%;
}
.content {
    width: 50%;
    text-align: center;
    color: white;
    padding: 20px 80px;
}
.content_title {
    margin-top: 80px;
}
.add_training {
    padding: 10px;
    border-radius: 4px;
    margin-top: 20px;
    color: white;
    background-color: var(--mainColor);
}
.cards {
    text-align: center;
    padding: 30px 200px;
}
.card {
    display: flex;
    justify-content: space-around;
}
.card_item {
    max-width: 40%;
    margin: 20px;
    box-shadow: 0px 2px 30px rgb(145, 208, 204, 0.5);
}
.card_img{
    height: 250px;
    width: 100%;
    object-fit: cover;
}
.card_item_content {
    padding: 20px;
    text-align: center;
}
.date{
    color: gainsboro;
}
.card_title {
    color: var(--darkSecondaryColor);
    min-height: 50px;
}
.card_descr{
    margin-top: 10px;
    min-height: 120px;
}
.price{
    color: var(--secondaryColor);
    margin-top: 10px;
    font-size: 18px;
}

.btns {
    position: relative;
    .admin_btn {
    position: absolute;
    right: 0;
    bottom: 0;
}
}


mat-icon {
    margin-top: 10px;
    color: var(--darkSecondaryColor);
    &:hover {
        color: var(--darkMainColor);
        cursor: pointer;
    }
    &:not(:last-child) {
    margin-right: 10px;
    }
}

