<section *ngIf="test">
    <ng-container *ngIf="!showResult">
        <h2>{{test.testTitle}}</h2>
            <p class="total">{{test.totalNumberOfTestQuestions}} questions</p>
            <div class="test">
            <form [formGroup]="form" class="form">
                <div *ngFor="let question of test.items; index as i" class="container">
                    <p class="question">{{ i + 1 }}. {{ question.questionText }}</p>
                    <div class="answers" *ngFor="let answer of question.answers">

                        <ng-container *ngIf="!question.allowsMultipleAnswers">
                            <label class="answer"><input
                            [value]="answer.answerId"
                            [formControlName]="question.questionId.toString()"
                            type="radio"
                        />{{ answer.answerText }}</label>
                        
                        </ng-container>

                        <ng-container *ngIf="question.allowsMultipleAnswers">
                            <label class="answer"><input
                            [formControlName]="answer.answerId"
                            type="checkbox"       
                            [value]="answer.answerId"             
                        />{{ answer.answerText }}</label>
                        </ng-container>
                        
                    </div>
                    <div class="validation" *ngIf="!question.allowsMultipleAnswers">
                        <small *ngIf="form.controls[question.questionId.toString()].invalid&&submitted">* Please, answer the question</small>
                    </div>
                </div>
                <app-button  (click)="finish()">Finish</app-button>
            </form>
        </div>
    </ng-container>

    <div class="result">
        <app-test-result *ngIf="showResult"></app-test-result>
    </div>

</section>


