section {
    text-align: center;
    padding: 50px;
    font-size: 18px;
    h2 {
        margin-bottom: 10px;
        color: var(--secondaryColor);
        font-size: 26px;
    }
    .description {
        color: #1a1a1a;
        margin-bottom: 10px;
    }
}

.progress {
    margin: 0 auto;
    width: 50%;
    padding-top: 20px;
}

.questions {
    margin: 0 auto;
    padding: 50px;
    width: 50%;
    box-shadow: var(--boxShadowMainColor);
    font-size: 18px;
}

.question {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid gainsboro;
    margin-bottom: 10px;
    span {
        width: 50px;
        font-size: small;
    }
}

.checked {
    border: 1px solid #1a1a1a;
    box-shadow: var(--boxShadowSecondaryColor);
}

.details {
    color: var(--mainColor);
    cursor: pointer;
    &:hover {
        color: var(--secondaryColor);
    }
}