<section>
  <h2>Get to know yourself</h2>
  <ng-container *ngIf="!last">
    <p class="description">
    Select the answers based on how well each statement describes you.
  </p>
  <div (click)="details = !details" class="details">Details</div>

  <app-answer-btn *ngIf="details" [readonly]="true"></app-answer-btn>

  <div class="progress">
    <mat-progress-bar
      mode="determinate"
      color="primary"
      [value]="progress"
    ></mat-progress-bar>
  </div>
  </ng-container>
  

  

  <div class="questions">
    <ng-container *ngIf="!last">
      <ng-container *ngFor="let q of question">
        <p>{{ q }}</p>
        <div class="question">
          <span>Strongly disagree</span>
          <app-answer-btn (isChecked)="checked = $event"></app-answer-btn>
          <span>Strongly agree</span>
        </div>
      </ng-container>
    </ng-container>

    <app-button *ngIf="!last" [disabled]="!checked" (click)="next()"
      >Next</app-button
    >
    <app-button *ngIf="last&&!showResult" (click)="result()">Result</app-button>
    <app-test-result *ngIf="showResult"></app-test-result>
  </div>
</section>
