<section>
  <h2>Contacts</h2>
    <ul class="location">
        <li class="wrapper"><mat-icon>phone</mat-icon><a href="tel:+380964871893">+38 (096) 487 18 93</a> 
        <li class="wrapper"><mat-icon>location_on</mat-icon><a>Lviv, Shevchenka street, 1</a></li>
        <li class="wrapper"><mat-icon>mail</mat-icon><a href="mailto:info@gmail.com">info@gmail.com</a></li>
    </ul>   
            
     <app-google-map></app-google-map>       

    <div class="follow">
        <h2>Follow us</h2>
        <ul class="networks">
        <li class="networks__item">
          <a class="networks__link" href="https://www.instagram.com/" target="_blank">
            <svg class="networks__icon white">
              <use href="./assets/images/icon.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="networks__item">
          <a class="networks__link" href="https://twitter.com/" target="_blank">
            <svg class="networks__icon white">
              <use href="./assets/images/icon.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
        <li class="networks__item">
          <a class="networks__link" href="https://www.facebook.com/" target="_blank">
            <svg class="networks__icon white">
              <use href="./assets/images/icon.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="networks__item">
          <a class="networks__link" href="https://www.linkedin.com/" target="_blank">
            <svg class="networks__icon white">
              <use href="./assets/images/icon.svg#icon-linkedin"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    
</section>
