<div class="dialog">
    <h2 mat-dialog-title>Add new test</h2>
    <form [formGroup]="testForm">
        <div mat-dialog-content>
            <mat-form-field appearance="outline">
                <mat-label>Enter a title...</mat-label>
                <input formControlName="testTitle" matInput placeholder="Start typing...">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-hint>Hint</mat-hint>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Enter a image url...</mat-label>
                <input formControlName="url" matInput placeholder="Start typing...">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-hint>Hint</mat-hint>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Choose an option</mat-label>
                <select matNativeControl formControlName="testType">
                  <option *ngFor="let test of tests.testsType" value={{test.title}}>{{test.title}}</option>
                </select>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Enter description...</mat-label>
                <textarea formControlName="description" formControlName="description" matInput></textarea>
              </mat-form-field>
        </div>
    </form>
    <div mat-dialog-actions [align]="'end'">
        <button mat-raised-button mat-dialog-close color="primary">Close</button>
        <button mat-raised-button mat-dialog-close color="primary" (click)="openDialog()">Save</button>
        
    </div>
</div>
