<div class="container" (click)="closeModal()">
    <div class="dialog" (click)="$event.stopPropagation()">
        <button class="close" (click)="closeModal()">x</button>
        <form [formGroup]="form" class="form">
            <h2>Make an appointment<ng-content></ng-content></h2>
            <div>
                <select formControlName="psychologistId" class="select">
                    <option value="">Choose psychologist</option>
                    <option *ngFor="let psychologist of psychologists" class="option" [ngValue]="psychologist.id">{{psychologist.name}}</option>
                </select>    
            </div>

            <div>
                <input [ngClass]="{invalid: form.controls['desiredDate'].touched && form.controls['desiredDate'].invalid}" 
                formControlName="desiredDate" type="date" class="date">
                <div class="validation">
                    <small *ngIf="form.controls['desiredDate'].touched && form.controls['desiredDate'].invalid">* Date is required</small>
                </div>
            </div>

           
            <div class="wrapper">
                <input [ngClass]="{invalid: form.controls['userPhone'].touched && form.controls['userPhone'].invalid}" 
                formControlName="userPhone" type="tel" class="input" placeholder="Phone *">
                <mat-icon class="icon">phone</mat-icon>
                <div class="validation">
                    <small *ngIf="form.controls['userPhone'].touched && form.controls['userPhone'].invalid">* Phone number is required, phone format is 0123456789</small>
                </div>
            </div>


            <app-button class="btn" (click)="closeModal()">Cancel</app-button>
            <app-button [disabled]="!form.valid || submitted" class="btn" (click)="makeAppointment()">Save</app-button>
        </form>
    </div>
</div>
