.contact_info{
    background-color: var(--mainColor);;
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 52px;
}
.auth{
    display: flex;
    color: white;
}
.login {
    display: flex;
    cursor: pointer;
    &:not(:first-child) {
        margin-left: 20px;
    }
}
.registr {
    display: flex;
    cursor: pointer;
}
.item {
    display: flex;
    margin-left: 20px;
}
.contact{
    display: flex;
    color: white;
}
.icon {
    font-size: 18px;
    color: white;
    opacity: .5;
}
.btn {
    background-color: white;
    color: var(--mainColor);
    padding: 8px;
    cursor: pointer;
    &:hover {
        color: var(--secondaryColor);
    }
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 20px 20px;
    
}
.logo {
    color: rgb(184, 136, 74);
    margin: 0;
}
.navigation{
    display: flex;
    list-style: none;
    
}
.nav_item{
    margin-left: 10px;
    color: rgb(184, 136, 74);
    cursor: pointer;
}

.active {
    color: var(--darkMainColor);
}

.active__auth {
    color: var(--darkSecondaryColor);
}