<nav class="nav">
    <div class="contact_info">
        <div class="auth">
            <div class="registr">
                <mat-icon class="icon">person</mat-icon>
                <div>Sign Up</div>
            </div>
            <div class="login">
                <mat-icon class="icon">lock</mat-icon>
                <div>Log In</div>
            </div>
        </div>
        <div class="contact item">
            <div class="number item">
                <mat-icon class="icon">call</mat-icon>
                <span>+38 (096) 487 18 93</span>
            </div>
            <div class="location item">
                <mat-icon class="icon">location_on</mat-icon>
                <span>Lviv</span>
            </div>
            <div class="email item">
                <mat-icon class="icon">mail</mat-icon>
                <span>info@gmail.com</span>
            </div>
        </div>
        <button class="btn">Make an appointment</button>
    </div>
    <div class="navbar">
        <h2 class="logo">Psychologecal Assistance Services</h2>
        <ul class="navigation">
            <li class="nav_item">Home</li>
            <li class="nav_item">Pages</li>
            <li class="nav_item">Services</li>
            <li class="nav_item">Contact us</li>
        </ul>
    </div>
</nav>

