<nav class="nav">
    <div class="contact_info">
        <div class="auth">
            <div class="registr" *ngIf="isLoggedOut$ | async" [routerLink]="['/register']" routerLinkActive="active__auth">
                <mat-icon class="icon">person</mat-icon>
                <div>Sign Up</div>
            </div>
            <div class="login" *ngIf="isLoggedOut$ | async" [routerLink]="['/login']" routerLinkActive="active__auth">
                <mat-icon class="icon">lock</mat-icon>
                <div>Sign In</div>
            </div>
            <div class="login" *ngIf="isLoggedIn$ | async" (click)="logout($event)">
                <mat-icon class="icon">exit_to_app</mat-icon>
                <div>Sign Out</div>
            </div>
            <div [routerLink]="['/profile']" routerLinkActive="active__auth" class="login" class="login" *ngIf="isLoggedIn$ | async">
                <div>Welcome, {{user$ | async}}</div>
            </div>
        </div>
        <div class="contact item">
            <div class="number item">
                <mat-icon class="icon">call</mat-icon>
                <span>+38 (096) 487 18 93</span>
            </div>
            <div class="location item">
                <mat-icon class="icon">location_on</mat-icon>
                <span>Lviv</span>
            </div>
            <div class="email item">
                <mat-icon class="icon">mail</mat-icon>
                <span>info@gmail.com</span>
            </div>
        </div>
        <button class="btn" *ngIf="isLoggedIn$ | async" (click)="showModal=true">Make an appointment</button>
    </div>
    <div class="navbar">
        <h2 class="logo">Psychological Assistance Services</h2>
        <ul class="navigation">
            <li class="nav_item" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</li>
            <li class="nav_item" [routerLink]="['/psychologists']" routerLinkActive="active">Psychologists</li>
            <li class="nav_item">Services</li>
            <li class="nav_item" [routerLink]="['/contacts']" routerLinkActive="active">Contacts</li>
            <li class="nav_item" *ngIf="isLoggedIn$ | async" [routerLink]="['/tests']" routerLinkActive="active">Tests</li>
            <li class="nav_item" *ngIf="isLoggedIn$ | async" [routerLink]="['/profile']" routerLinkActive="active">Profile</li>
        </ul>
    </div>
</nav>

<app-appointment-dialog
    *ngIf="showModal"
    (data)="makeAppointment($event)"
    (showModal)="showModal = $event"
></app-appointment-dialog>
