.results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.results__header {
    margin-bottom: 20px;
    color: var(--secondaryColor);
    font-size: 24px;
}

.results__conclusion {
    color: #1a1a1a;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1.5;
}

.result__description {
    color: var(--mainColor);
    margin-bottom: 20px;
    padding: 0 100px;
}

app-button {
    &:not(:last-child) {
        margin-right: 50px;
    }
}

.tips {
    width: 75%;
    box-shadow: var(--boxShadowMainColor);
    padding: 30px;
    margin-bottom: 20px;

}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .link {
        padding: 10px;
        border-bottom: 1px solid gainsboro;
        width: 100%;
        font-size: 18px;
        a {
            color: #1a1a1a;
            &:hover {
                color: var(--mainColor);
            }
        }
    }
}
