<div class="promo">
    <h1 class="promo_title">UNDERSTAND YOUR EMOTIONS</h1>
    <p class="promo_subtitle">Consultations with licensed therapists, trainings, and therapy.</p>
</div>
<div class="courses">
        <h2 class="courses_title">How We Can Help </h2>
        <p class="courses_sub">Our mission is providing support to anyone who struggles with life challenges.Understand yourself,what emotions you are experiencing and why.</p>
        <ul class="courses_list">
            <li class="course_item">
                <img src="../../../assets/images/conflicting.png">
                <h2>Identify your emotions</h2>
                <span>With  the help of simple psychological questionnaires understand your feelings and define an emotional map.</span>
            </li>
            <li class="course_item">
                <img src="../../../assets/images/feelings.png">
                <h2>Consultations</h2>
                <span>Talk to a professional therapist to work out yourcurrent state and figure next steps.</span>
            </li>
            <li class="course_item"> 
                <img src="../../../assets/images/mental.png">
                <h2>Recommendations</h2>
                <span>Various tips and steps to improve your mental wellbeing.</span>
            </li>
            <li class="course_item">
                <img src="../../../assets/images/relationship.png">
                <h2>Therapy</h2>
                <span>Schedule meetings with a licensed therapist who can helpyou with a wide range of issues</span>
            </li>
            <li class="course_item">
                <img src="../../../assets/images/relaxation.png">
                <h2>Trainings</h2>
                <span>We provide trainings on mental health awareness and emotional, psychological and social wellbeing.</span>
            </li>
        </ul>
</div>
<div class="about">
    <img class="about_img" src="../../../assets/images/background2.jpg" alt="girl">
    <div class="content">
        <h2 class="content_title">Welcome to Psychological Assistance Services</h2>
        <p class="content_text">Through our everyday work, services, and assistance we provide, our main scope is trying to help people find their way to build a better life that includes happiness, a sense of purpose, playfulness, and psychological flexibility, as well as autonomy mastery and belonging.
        <em>“The ultimate goal of the therapist is not to provide his patients with a series of intellectual insights but to help them change their lives.” — Aaron T. Beck</em></p>
    </div>
</div>
<app-courses></app-courses>
