h2 {
    font-size: 24px;
}
.promo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 600px;
    margin: 0;
    background-image: url('../../../assets/images/background.jpg') /* center center / cover no-repeat  */;
    background-repeat: no-repeat;
    background-size: cover;
}
.promo_title{
    color: rgb(184, 136, 74);
    font-size: 60px;
    margin-bottom: 10px;
}
.promo_subtitle{
    color: rgb(184, 136, 74);
}
.courses_sub{
    margin-top: 20px;
}
.courses{
    min-height: 600px;
    text-align: center;
    padding: 80px 200px;
}
.courses_list{
    list-style: none;
    display: flex;
    margin-top: 80px;
    flex-direction: row;
    justify-content: space-around;
}
.course_item {
    padding: 20px;
}
.about {
    min-height: 300px;
    display: flex;
    background-color: var(--mainColor);;
}
.about_img{
    width: 50%;
}
.content {
    width: 50%;
    text-align: center;
    color: white;
    padding: 20px 80px;
}
.content_title {
    margin-top: 80px;
}
.add_training {
    padding: 10px;
    border-radius: 4px;
    margin-top: 20px;
    color: white;
    background-color: var(--mainColor);
}
.cards {
    text-align: center;
    padding: 80px 200px;
}
.card {
    display: flex;
}
.card_item {
    border: 1px solid gainsboro;
    margin: 20px;
    box-shadow: 0px 2px 30px rgb(145, 208, 204, 0.5);
}
.card_item_content {
    padding: 20px;
    text-align: center;
}
.date{
    color: gainsboro;
}
.card_title {
    color: var(--secondaryColor);
}
.card_descr{
    margin-top: 10px;
}
.price{
    color: var(--secondaryColor);
    margin-top: 10px;
}