<section>
    <div class="form">
        <h2>Create new password</h2>
        <form [formGroup]="form">
            <div>
                <div class="password-wrapper">
                <input appPasswordToggle [ngClass]="{invalid: form.controls['password'].touched && form.controls['password'].invalid}" 
                formControlName="password" type="password" class="input" placeholder="Password *">
                </div>               
                <div class="validation">
                    <small *ngIf="form.controls['password'].touched && form.controls['password'].invalid">* Password must contain at least 1 digit, 1 lowercase, 1 uppercase, 1 special character (! @ # &), minimum length is 8 characters</small>
                </div>
            </div>

            <div>
                <div class="password-wrapper">
                    <input appPasswordToggle [ngClass]="{invalid: form.controls['confirmPassword'].touched && form.hasError('notSame')}" 
                    formControlName="confirmPassword" type="password" class="input" placeholder="Confirm password *">
                </div>
                <div class="validation">
                    <small *ngIf="form.controls['confirmPassword'].touched && form.hasError('notSame')">* Both passwords must be equal</small>
                </div>
            </div>

            <app-button [disabled]="!form.valid || submitted" class="btn" (click)="savePassword()">Sign up</app-button>
        </form>
    </div>
</section>



