
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ehp-primary: mat.define-palette(mat.$indigo-palette);
$ehp-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ehp-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ehp-theme: mat.define-light-theme((
  color: (
    primary: $ehp-primary,
    accent: $ehp-accent,
    warn: $ehp-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($ehp-theme);

:root {
  --mainColor: #91d0cc;
  --secondaryColor: #d9be93;
  --boxShadowMainColor: 0px 2px 30px rgb(145, 208, 204, 0.5);
  --boxShadowSecondaryColor: 0px 10px 20px rgba(217, 190, 147, 0.5);
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

body {
  background-color: #fff;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--mainColor);
  box-shadow: inset 0px 0px 6px rgba(103, 108, 120, 0.5);
  border-radius: 10px;
}

html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

*:disabled, *:disabled:hover {
  background-color: dimgrey;
  color: linen;
  opacity: 0.4;
  box-shadow: 0px 10px 20px rgba(103, 108, 120, 0.4);
  cursor: auto;
}