:root {
    --mainColor: #91d0cc;
    --secondaryColor: #d9be93;
    --boxShadowMainColor: 0px 2px 30px rgb(145, 208, 204, 0.5);
    --boxShadowSecondaryColor: 0px 10px 20px rgba(217, 190, 147, 0.5);
}

body {
    margin: 0;
    padding: 0;
}