section {
    position: relative;    
}
.nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    width: 15%;
    padding-right: 10px;
    
    .nav__link {
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid gainsboro;
        cursor: pointer;
        color: #fff;
        &:hover {
        color: #1a1a1a;
    }
    }
}

.active {
    background-color: var(--secondaryColor);
}

.not-active {
    background-color: var(--mainColor);
}