<section>
  <ul class="nav">
    <li
      class="nav__link"
      [routerLink]="['/profile']"
      [ngClass]="(value === 'info') ? 'active' : 'not-active'"
    >
      Information
    </li>
    <li
      class="nav__link"
      [routerLink]="['/profile/emotion-map']"
      [ngClass]="(value === 'map') ? 'active' : 'not-active'"
    >
      Emotion map
    </li>
    <li
      class="nav__link"
      [routerLink]="['/profile/history']"
      [ngClass]="(value === 'history') ? 'active' : 'not-active'"
    >
      History
    </li>
  </ul>
</section>
