<section>
  <ul class="nav">
    <li
      class="nav__link"
      [routerLink]="['/profile']"
      routerLinkActive="active__user"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Information
    </li>
    <li
      class="nav__link"
      [routerLink]="['/profile/emotion-map']"
      routerLinkActive="active__user"
    >
      Emotion map
    </li>
    <li
      class="nav__link"
      [routerLink]="['/profile/history']"
      routerLinkActive="active__user"
    >
      History
    </li>
  </ul>
</section>
