section {
    padding: 50px 0 100px;
    text-align: center;
    box-shadow: inset var(--boxShadowMainColor);
    h2 {
        color: var(--secondaryColor);
        margin-bottom: 50px;
        font-size: 30px;
    }
    button {
        background-color: var(--secondaryColor);
        margin-top: 50px;
        color: white;
        padding: 10px 20px;
    }
}